.lsn-button-yellow {
  width: 181px;
  height: 37px;
  
  margin-left: 26px;
    
  background: #F1F2AE;
}

.lsn-button-green {
  width: 46px;
  height: 37px; 
  
  margin-right: 19px;
  margin-top: 4px;
  
  background: #E7EFD6;
}

.lsn-button-pink {
  width: 759px;
  height: 70px;

  margin-left: 26px;
  margin-top: 17px;

  background: #F9D7D7;
}

.lsn-button-blue {
  width: 247px;
  height: 110px;
  
  margin-left: 26px;
  margin-top: 6px;

  background: #BDCDF7;
}