.lsn-block{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 1177px;
  height: 437px;

  margin-top: 24px;
  margin-left: 20px;
}

.lsn-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 830px;
  height: 437px;
    
  background: #D9D9D9;

  &__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
   
    color: #000000;
    margin-top: 10px;
  }
}

.lsn-article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 300px;
  height: 429px;
     
  margin-left: 67px;

  background: #D9D9D9;

  &__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
   
    color: #000000;
    margin-top: 10px;
  }
}
